.p12-text1{
    position: absolute;
    left:50px;top:160px;
     opacity: 0;
}
.p12-bingtu{
    position: absolute;
    left:55px;top:220px;
     opacity: 0;
}
.p12-text2{
    position: absolute;
    left:50px;top:650px;
     opacity: 0;
}
.p12-type1{
    position: absolute;
    left:55px;top:710px;
     opacity: 0;
}
.p12-type2{
    position: absolute;
    left:175px;top:710px;
     opacity: 0;
}
.p12-type3{
    position: absolute;
    left:295px;top:710px;
     opacity: 0;
}
.p12-type4{
    position: absolute;
    left:365px;top:710px;
     opacity: 0;
}
.p12-type5{
    position: absolute;
    left:485px;top:710px;
     opacity: 0;
}
.p12-age{
    position: absolute;
    left:30px;bottom:105px;
     opacity: 0;
}
.p12-table{
    position: absolute;
    left:110px;bottom:85px;
     opacity: 0;
}